/*CANDICOMPLETE-PROFILE BODY*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


h1 {
  padding: 0;
  text-align: center;
  margin: 10px 0 30px 0; /* Reduced top margin */
}
h2 {
  padding: 0;
  text-align: center;
  margin: 10px 0 30px 0; /* Reduced top margin */
}

.section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 100px;

}


button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #193768;
    color: white;
    margin-top: 10px;
   border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

button:hover {
    background-color: #0056b3;
}

.date-to {
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 70px;
}
.profile-info {
      display: flex;
      flex-wrap: wrap;
      background-color: #f4f4f4;
      padding: 20px;
      border-radius: 5px;
  }
  .profile-info .profile-pic {
      margin-right: 20px;
      margin-left: 380px;
  }
  .profile-info img {
      border-radius: 50%;
      width: 130px;
      height: 130px;
  }
  .profile-info .details {
      flex: 1;
  }
  .profile-info .details h3 {
      margin-top: 0;
  }
  .profile-info .details p {
      margin: 5px 0;
  }

  .company-logo-container {
position: relative;
margin-bottom: 10px;
display: flex;
align-items: center; /* Center the logo and buttons */
margin-left: 350px;
width: 120px;
height: 120px;
}

.company-logo {
width: 100%;
height: 100%;
border-radius: 50%;
cursor: pointer;
transition: transform 0.3s;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

.company-logo:hover {
transform: scale(1.05);
}

.default-initial {
display: flex;
justify-content: center;
align-items: center;
font-size: 48px;
font-weight: bold;
background-color: #193768;
color: white;
width: 100%;
height: 100%;
border-radius: 50%;
position: absolute;
top: 0;
left: 0;
z-index: 2;
}

.hidden {
display: none;
}


.company-logo-container:hover::after {
content: "Edit Profile";
position: absolute;
top: -30px;
left: 50%;
transform: translateX(-50%);
background-color: #193768;
color: white;
padding: 5px 10px;
border-radius: 5px;
font-size: 12px;
white-space: nowrap;
}
.profileinfo-container {
      margin: 20px auto;
      padding: 20px;
      background-color: #ccc;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: 1200px;
      max-height: 5000px;
  }
.skills-container {
      margin: 20px auto;
      padding: 20px;
      background-color: #ccc;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: 1200px;
      max-height: 5000px;
  }

.education-container {
      margin: 20px auto;
      padding: 20px;
      background-color: #ccc;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: 1200px;
      max-height: 5000px;
  }
.experience-container {
      margin: 20px auto;
      padding: 20px;
      background-color: #ccc;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: 1200px;
      max-height: 5000px;
  }
.resume-container {
      margin: 20px auto;
      padding: 20px;
      background-color: #ccc;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: 1200px;
      max-height: 5000px;
  }
.documents-container {
      margin: 20px auto;
      padding: 20px;
      background-color: #ccc;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: 1200px;
      max-height: 5000px;
  }
.license-container {
      margin: 20px auto;
      padding: 20px;
      background-color: #ccc;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: 1200px;
      max-height: 5000px;
  }
.links-container {
      margin: 20px auto;
      padding: 20px;
      background-color: #ccc;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: 1200px;
      max-height: 5000px;
  }

.content-container {
      margin: 20px auto;
      padding: 0;
      background-color: #f4f4f4;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: 1200px;
      max-height: 50000px;
      margin-bottom: 50px;
  }

.button1-container {
margin-top: 10px;
display: flex;
justify-content: space-between;
width: 100%; /* Adjust the width as needed */
}
.button2-container {
margin-top: 20px;
display: flex;
justify-content: space-between;
width: 100%; /* Adjust the width as needed */
}

.btn-save {
margin-top: 10px;
width: 350px; /* Specify the desired width */
height: 50px; /* Specify the desired height */
border-radius: 5px; 
}

.btn-cancel {
margin-top: 10px;
width: 350px; /* Specify the desired width */
height: 50px; /* Specify the desired height */
border-radius: 5px; 
}

  .btn-edit {
   
padding: 10px 20px;
margin-top: 10px;
background-color: #193768;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s;
}

.btn-edit:active {
transform: scale(0.95);
}

.btn-edit.success { /*error alt*/
background-color: #193768;
color: #fff;
border: 2px solid #193768;
padding: 5px 20px;
display: flex;
align-items: center;
justify-content: center;
}

.btn-edit.success::before { /*error alt*/
content: '\2713'; /* Unicode character for check mark */
/*content: '\2716';  Unicode character for heavy multiplication x */
font-size: 24px;
margin-right: 8px;
}

  .btn-edit:hover {
      background-color: #0056b3;;
  }
  .submit-button {
   
padding: 10px 20px;
margin-top: 10px;
background-color: #193768;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s;
}

.submit-button:active {
transform: scale(0.95);
}

.submit-button.success { /*error alt*/
background-color: #193768;
color: #fff;
border: 2px solid #193768;
padding: 5px 20px;
display: flex;
align-items: center;
justify-content: center;
}

.submit-button.success::before { /*error alt*/
content: '\2713'; /* Unicode character for check mark */
/*content: '\2716';  Unicode character for heavy multiplication x */
font-size: 24px;
margin-right: 8px;
}

  .submit-button:hover {
      background-color: #0056b3;
  }
  .select-country {
margin-top: 20px; /* Adjust the value as needed */
}
  .link-title {
margin-top: 30px; 
}
  .link-button {
margin-top: 30px; 
}

.skills-entry {
position: relative;
padding: 10px;
border: 1px solid #ccc;
margin-bottom: 10px;
}
.education-entry {
position: relative;
padding: 10px;
border: 1px solid #ccc;
margin-bottom: 10px;
}
.experience-entry {
position: relative;
padding: 10px;
border: 1px solid #ccc;
margin-bottom: 10px;
}
.resume-entry {
position: relative;
padding: 10px;
border: 1px solid #ccc;
margin-bottom: 10px;
}
.documents-entry {
position: relative;
padding: 10px;
border: 1px solid #ccc;
margin-bottom: 10px;
}
.license-entry {
position: relative;
padding: 10px;
border: 1px solid #ccc;
margin-bottom: 10px;
}
.links-entry {
position: relative;
padding: 10px;
border: 1px solid #ccc;
margin-bottom: 10px;
}

.remove-education {
position: absolute;
top: 10px;
right: 30px;
cursor: pointer;
color: #193768;
display: none; /* Hide by default */
}
.remove-experience {
position: absolute;
top: 10px;
right: 30px;
cursor: pointer;
color: #193768;
display: none; /* Hide by default */
}
.remove-license {
position: absolute;
top: 10px;
right: 30px;
cursor: pointer;
color: #193768;
display: none; /* Hide by default */
}
.remove-link {
position: absolute;
top: 30px;
right: 30px;
cursor: pointer;
color: #193768;
display: none; /* Hide by default */
}

.education-entry.cloned .remove-education {
display: block; /* Show only for cloned entries */
}
.experience-entry.cloned .remove-experience {
display: block; /* Show only for cloned entries */
}
.license-entry.cloned .remove-license {
display: block; /* Show only for cloned entries */
}
.links-entry.cloned .remove-link {
display: block; /* Show only for cloned entries */
}

.remove-education i {
font-size: 1.5em;
}
.remove-experience i {
font-size: 1.5em;
}
.remove-license i {
font-size: 1.5em;
}
.remove-link i {
font-size: 1.5em;
}



  .upload-section {
margin: 10px 0;
margin-top: 10px;
}

.upload-icon {
display: inline-block;
padding: 10px;
background-color: #193768;
color: #fff;
border-radius: 5px;
cursor: pointer;
text-align: center;
margin-left: 450px;
width: 250px;
height: 70px;
}

.upload-icon i {
margin-right: 5px;
}

.upload-icon:hover {
background-color: #0056b3;
}
.uploaded-file {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: white;
  }

  .uploaded-file span {
      flex: 1;
      margin-left: 10px;
  }

  .uploaded-file .icon {
      margin-left: 10px;
      cursor: pointer;
  }

  .uploaded-file .icon.download {
      color: #193768;
  }

  .uploaded-file .icon.remove {
      color: #193768;
  }
