/*CANDIDATES BODY*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.search-container {
    margin-top: 40px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 0;
    padding: 80px;
    background-color: #f4f7f7;
    border: 1px solid #f4f7f7;
    border-radius: 5px;
    max-width: 1335px;
    max-height: 1000px;
}

.search-title {
    color:#272a33;
}
.desc {
    color:#656565;
}